Repository MHSoquiat/DevOps-Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, release-backend

build-frontend:
  stage: build
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  script:
  - echo "Building frontend ..."
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHA app/frontend
  ...

build-backend:
  stage: build
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  script:
  - echo "Building backend ..."
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHA app/backend
  ...

release-backend:
  stage: release
  image: node:18
  before_script:
  - npm install -g semantic-release @semantic-release/git @semantic-release/commit-analyzer @semantic-release/release-notes-generator
  script:
  - cd app/backend
  ...

feat: add semantic versioning
  app/backend/.releaserc
  app/frontend/.releaserc
Due: build-frontend, build-backend, release-backend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

fix: semantic-release
  app/backend/.releaserc
  app/frontend/.releaserc
Due: build-frontend, build-backend, release-backend

fix: .releaserc
  app/backend/.releaserc
  app/frontend/.releaserc
Due: build-frontend, build-backend, release-backend

fix: Changed color of delete button
  app/frontend/src/App.css
Due: build-frontend

fix: css
  app/frontend/src/App.css
Due: build-frontend

fix: css pt. idk
  app/frontend/src/App.css
Due: build-frontend

Backend Error Message
  app/backend/src/server.js
Due: build-backend, release-backend

Changed Color
  app/frontend/src/App.css
Due: build-frontend

delete semantic versioning
  app/backend/.releaserc
  app/frontend/.releaserc
Due: build-frontend, build-backend, release-backend

Port Change to Backend
  app/backend/src/server.js
Due: build-backend, release-backend

Test
  app/backend/src/server.js
  app/frontend/src/App.css
Due: build-frontend, build-backend, release-backend

Deployment Test
  app/frontend/src/App.css
Due: build-frontend

Test Deployment
  app/backend/src/server.js
Due: build-backend, release-backend

Test Deployment
  app/frontend/src/App.css
Due: build-frontend

Added Application.yaml for ArgoCD configuration
  CHANGELOG.md
  app/application.yaml
Due: none

Fixed health routing
  CHANGELOG.md
  app/backend/src/server.js
Due: build-backend, release-backend

Path conditions:
  build-frontend: any of: app/frontend/**/*
  build-backend: any of: app/backend/**/*
  release-backend: any of: app/backend/**/*
